@media (max-width: 600px) {
    body {
        border-top: 20px solid red;
    }

    /* first section */
    nav.nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        /* border: 2px solid purple; */
    }

    .nav-logo,
    .nav-burger-menu {
        flex: 1 1 auto;
        text-align: center;
        font-size: 1.5em;
        /* border: 2px solid red; */
    }

    .nav-menu {
        display: none;
    }

    .nav-burger-menu {
        display: block;
        order: -1;
        color: white;

        /* border: 2px solid red; */
    }

    .nav-user-btns {
        flex: 0 0 100%;
        display: flex;
        flex-direction: column;

        border: 2px solid yellow;
    }

    .nav-user-btns li {
        width: 100%;
    }

    .nav-user-btns li button {
        width: 100%;
    }

    /* second section */
    .content-info-img {
        display: none;
    }

    .content-info {
        padding: 0 0;
        text-align: center;

    }

    .content-info-welcome{
        width: 100%;
    }

    .content-info-welcome h2  {
        font-size: 50px;

        /* border: 2px solid red; */
    }

    .content-info-welcome p {
        padding: 0 2em;
    }

    .content-info-welcome button {
        width: 80%;
    }

    .content-services {
        flex-direction: column;
    }

    .content-services div {
        width: 100%;
    }

    .gallery img {
        width: 100%;
    }

    .gallery {
        padding: 0;
    }
    


}