@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 'Gochi Hand', cursive;
}

body {
    background: #e6e6e6;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;

    border: 1px solid red;
}

.postcard-container {
    background: white;
    width: 850px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.image-section {
    position: relative;
}

.image-section img {
    width: 100%;
    display: block;
}