@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&amp;display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 "PT Sans", sans-serif;
}

body, input, button, textarea {
    font: inherit;
}

h1 {font-size: 2.4em}
h2 {font-size: 2.0em}
h3 {font-size: 1.8em}
h4 {font-size: 1.4em}
h5 {font-size: 1.2em}
h6 {font-size: 1em}


/* Sections */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Components */

.main-nav ul {
    display: flex;
}

.main-nav li {
    display: block;
    list-stile: none;
}

.main-nav a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}

.site-title a {
    text-decoration: none;
}


